        <!-- This image shows regardless, has expand button on it -->
        <div id="click-first">
            <figure class="prog">
                <div id="click-first-wrap">
                    <!-- This button should go on first image -->
                    <button id="click-expand" class="click-hidden">+</button>
                    <img src="img/00.jpg" />
                </div><!-- /#click-first-wrap -->
                <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
            </figure class="prog">
        </div>

        <hr>
        <!-- These pics show if expand clicked, disappear when close clicked -->
        <div id="click-pics" class="click-hidden">
            <div>
                <figure class="prog">
                    <a href="img/01.jpg" class="progressive replace">
                        <img src="img/thumb/01.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/02.jpg" class="progressive replace">
                        <img src="img/thumb/02.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/03.jpg" class="progressive replace">
                        <img src="img/thumb/03.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/04.jpg" class="progressive replace">
                        <img src="img/thumb/04.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/05.jpg" class="progressive replace">
                        <img src="img/thumb/05.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/06.jpg" class="progressive replace">
                        <img src="img/thumb/06.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/07.jpg" class="progressive replace">
                        <img src="img/thumb/07.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/08.jpg" class="progressive replace">
                        <img src="img/thumb/08.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
            <div>
                <figure class="prog">
                    <a href="img/09.jpg" class="progressive replace">
                        <img src="img/thumb/09.jpg" class="preview" alt="image" />
                    </a>
                    <figcaption>Lorem ipsum solit dolor et netus et malesuada fames ac turpis egestas.</figcaption>
                </figure class="prog">
            </div>
            <hr>
        </div>
